

<div fxLayoutAlign="center center" fxFlexFill   >
    
<mat-card fxFlex="38"   [fxLayout]="'column'" >
    
    <div fxFlex="100" [fxLayout]="'row'"></div>
    <h3 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;"> Paramètres du compte</h3>
    
    <mat-form-field appearance="fill" >
        <mat-label>Changer le nom de l'utilisateur</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field appearance="fill" >
        <mat-label>Nouveau mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Confirmer le mot de passe</mat-label>
        <input matInput [type]="hide ? 'password' : 'text'">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-raised-button (click)="valider()" type="submit" style="background: radial-gradient(#e68181, #7176ac);"> Valider </button>
    
    

</mat-card>

</div>