
<mat-toolbar class="navbar">
   <span> <mat-icon>eco</mat-icon> Toubib.tn</span>
   <div class="spacer"> </div>
   <a *ngIf="isAuthentificated()" mat-button routerLink="/login"> Se connecter</a>
   <a class="btn" *ngIf="!isAuthentificated()" (click)="LogOut()" mat-button routerLink="/login"> Se déconnecter</a>

   <a *ngIf="!isAuthentificated()" mat-button routerLink="/register"> S'inscrire</a>
   <a *ngIf="isAuthentificated()" mat-button routerLink="/profil"> Profil</a>
<a  *ngIf="isAuthentificated()" mat-list-item routerLink="/parametre">
  <mat-icon>settings</mat-icon>
  </a>
 
</mat-toolbar>

<mat-card-title-group>

</mat-card-title-group>





<router-outlet></router-outlet>